// Everything that is reusable – buttons, navbars, cards, and so on

// Header

// Logo
.logo {
    margin-right: 32px;
    max-width: 200px;

    a,img {
        display: block;
    }
}

.menu {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.secondary-menu {
    margin-left: auto;
}

.menu__item {
    margin: 10px;
    position: relative;
}

.menu__link {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

// Cart Icon
.cart-icon {
    position: relative;
    display: block;
}

.cart-icon .cart-quantity {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
}

.menu__open {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.tooltip {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    font-size: 15px;
    line-height: 1;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px;
    transition: opacity 0.4s ease, transform 0.4s ease;
    border-radius: 5px;
    white-space: nowrap;
}
.menu__action:hover + .tooltip {
    opacity: 1;
    transform: translate(-50%, -5px);
}

// Footer

.footer__primary {
    font-size: 16px;

    p {
        margin-bottom: 0;
    }
}
.footer__secondary {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer__container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__copyright {
    margin-bottom: 0;
}

// Hero
.headshot {
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.hero-headline {
    font-size: 3rem;
}

.headshot {
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;

    background-size: 300% 300%;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.page-section {
    padding-top: 5%;
    padding-bottom: 5%;
    /* Hug a the block below you */
    &.hug {
      &--bottom {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      &--top {
        margin-top: 0;
        padding-top: 0;
      }
    }
}

// Post Cards
.card {
    margin-bottom: 50px;
    display:flex;

    .card__link {
        display: block;
        position: relative;
        padding: 2vw;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            .card__title {
                text-decoration: underline;
            }
        }

        &:after {
            content: "";
            display: block;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px
        }
        
        &:hover:after {
            opacity: 1
        }
    }

    .card__title {
        font-size: 1.2rem;
    }

    .card__description {
        font-size: 0.85rem;
        line-height: 1.5;

        p {
            line-height: 1.5;
        }
    }

    .card__date {
        font-size: 0.8rem;
        opacity: 0.8;
    }

    .card__category {
        text-transform: capitalize;
        border: 1px solid;
        border-radius: 20px;
        padding: 0 10px;
    }

    .card__meta {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
    }

    .card__meta-item {
        margin-right: 10px;
        line-height: 1;
    }

    .card__time-to-read + .card__date:before {
        content: "\25CF";
        margin-right: 10px;
    }

    .card__description {
        margin-bottom: 0;
        margin-top: 10px;

        p {
            margin-bottom: 0;
        }
    }
}

.card--image {
    .card__link {
        padding: 0;
    }

    .card__info {
        padding: 2vw;
    }

    .card__image {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        position: relative;
    }
}

.card__price {
    font-weight: 600;
    border-radius: 50px;
    font-size: 20px;
    padding: 5px 15px;
    min-width: 70px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: rgba(0,23,50,.1);
    line-height: 1;vertical-align: sub;
}


// Shop Page
.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  appearance: none;
}
.custom-number-input {
  -moz-appearance: textfield;
}