// Everything that is reusable – buttons, navbars, cards, and so on
.content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
// Header

// Logo
.logo {
    margin-right: 32px;
    max-width: 200px;

    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.menu {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.secondary-menu {
    margin-left: auto;

}

.menu__item {
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;

    .menu__action {
        display: flex;
    }
}

.menu.primary-menu {
    .menu__item:last-child {
        margin-right: 0;
    }
}

.menu__link {
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    svg {
        margin-right: 5px;
        margin-top: -3px;
    }
}

// Cart Icon
.cart-icon {
    position: relative;
    display: block;
}

.cart-icon .cart-quantity {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
}

.menu__open, .menu__close {
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.tooltip {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    font-size: 15px;
    line-height: 1;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 5px;
    transition: opacity 0.4s ease, transform 0.4s ease;
    border-radius: 5px;
    white-space: nowrap;
}

@media (min-width: 521px) {
    .menu__action:hover + .tooltip {
        opacity: 1;
        transform: translate(-50%, -5px);
    }
}

// Footer

.footer__primary {
    font-size: 16px;

    p {
        margin-bottom: 0;
    }
}
.footer__secondary {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer__container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer__copyright {
    margin-bottom: 0;
}

// Hero
.headshot {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0px 0px 20px 0px rgb(0 0 0 / 50%);


    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.hero-headline {
    font-size: 3rem;
}

.headshot {
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;

    background-size: 300% 300%;

}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.page-section {
    padding-top: 40px;
    padding-bottom: 40px;
    /* Hug a the block below you */
    &.hug {
      &--bottom {
        margin-bottom: 0;
        padding-bottom: 0;
      }
      &--top {
        margin-top: 0;
        padding-top: 0;
      }
    }

    &.page-section--large-gap {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    &.page-section--narrow {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    &.page-section--header {
        text-align: center;
    }

    img {
        margin-bottom: 1.5rem;
    }
}

// Post Cards
.card {
    margin-bottom: 50px;
    display:flex;

    .card__link {
        display: block;
        width:100%;
        position: relative;
        padding: 8vw;
        @media (min-width: 641px) {
            padding: 2vw;
        }
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            .card__title {
                text-decoration: underline;
            }
        }

        &:after {
            content: "";
            display: block;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0,0,0,.3);
        }
        
        &:hover:after {
            opacity: 1
        }
    }

    .card__title {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    .card__description {
        @media (min-width: 641px) {
            font-size: 0.85rem;  
        }
        line-height: 1.5;
        margin-top: 0;
        margin-bottom: 0;

        p {
            line-height: 1.5;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .card__category {
        text-transform: capitalize;
        font-weight: 600;
    }

    .card__meta {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .card__meta-item {
        margin-right: 10px;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .card__category + .card__time-to-read:before, .card__time-to-read + .card__date:before {
        content: "\25CF";
        margin-right: 10px;
    }

    .card__description {
        margin-bottom: 0;
        margin-top: 10px;

        p {
            margin-bottom: 0;
        }
    }
}

.card--image {
    .card__link {
        padding: 0;
    }

    .card__info {
        padding: 8vw;
        @media (min-width: 641px) {
            padding: 2vw;
        }
    }

    .card__image {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        position: relative;
    }
}

.card__price {
    font-weight: 600;
    margin-top: 10px;
}


// Shop Page
.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  appearance: none;
}
.custom-number-input {
  -moz-appearance: textfield;
}



.content__header {
    text-align: center;
}

.content__meta {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    flex-wrap: wrap;

    .content__meta-item:not(:last-child) {
        margin-right: 10px;
    }

    .content__meta-item + .content__meta-item:before {
        content: "\25CF";
        margin-right: 10px;
    }

    .content__meta-item {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.content__main img {
    display: block;
    margin: auto;
}

.page--post .content__main img {
    margin: 1rem 0;
}

.content__main h2 {
    margin-top: 5rem;
}

// Menu



@media (min-width: 845px) {
    .menu__item--container {
        display: none;
    }
}

@media (min-width: 845px) and (max-width: 1000px) {

    .header {
        padding-top: 0;
    }
    .navigation {
        display: grid;

        .logo {
            grid-row: 2;
            grid-column: 1;
        }
        .menu.primary-menu {
            grid-row: 2;
            grid-column: 2;
        }
        .menu.secondary-menu {
            grid-row: 1;
            grid-column: 2;
        }
    }
}

@media (max-width: 844px) {
    .primary-menu {
        display: none;
    }

    .logo {
        margin-right: 10px;
    }
}

.mobile-menu__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
    
    &.menu--open {
        transform: translateX(0);
    }
}

.mobile-menu { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - 64px);
    padding-top: 2rem;
    padding-left: 2rem;
}

.menu__item--close {
    position: absolute;
    top: 2rem;
    right: 20px;

    @media (min-width: 521px) {
        right: 40px;
    }

    @media (min-width: 641px) {
        right: 60px;
    }
}

.mobile-menu__item .menu__link {
    font-size: 24px;
    display: block;
}

.cart {
    width: 100%;
    table-layout: fixed;

    th, td:not(:nth-child(2)) {
        font-size: 16px;
    }

    th {
        width: 150px;
        &:first-child {
            width: 80px;
        }
        &:nth-child(2) {
            width: auto;
        }
    }

    th, td {
        text-align: left;
        padding: 20px 10px;
    }

    td img {
        display: block;
    }

    @media (max-width: 640px) {
        display: flex;

        thead {
            display: none;
        }

        img {
            max-width: 150px;
        }

        tbody {
            width: 100%;

        }
        th {
            display: none;
        }

        tr {
            display: grid;
            padding: 2rem;
            grid-template-columns: 150px 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 20px;
            td {
                padding: 0;
            }

            td:first-child {
                grid-column: 1 / 2;
                grid-row: 1/3;
            }

            td:nth-child(2) {
                grid-column: 2/4;
                grid-row: 1/2;
            }

            td:nth-child(3) {
                grid-column: 2/3;
                grid-row: 2/3;
            }

            td:last-child {
                grid-column: 3/4;
                grid-row: 2/3;
            }
        }
            
    }

    @media (max-width: 480px) {
        tr {
            display: flex;
            flex-direction: column;
            padding: 2rem;
            td {
                padding: 0;
            }

            img {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

button.remove {
    display: block;
    background: transparent;
    border: none;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.cart__checkout, .cart__total {
    text-align: right;
}

.content__category-title, .cat__title {
    text-transform: capitalize;
    
}

.page--post main {
    padding-bottom: 0;
}

.content__newsletter {
    padding: 2rem 0;
}

.content__main {
    padding-bottom: 2rem;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 2rem;
}

// Silentbox
.silentbox-item {
    width: 25%;
    padding: 0 20px;

    @media (max-width: 1024px) {
        width: 50%;
    }

    @media (max-width: 640px) {
        width: 100%;
    }
}

#silentbox-overlay__close-button .icon {
    margin: 0 !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
}

// Form
form[name="contact"], form[name="newsletter"] {


    label, input, textarea {
        display: block;
        width: 100%;
    }

    input, textarea {
        padding: 10px;
    }

    textarea {
        min-height: 200px;
    }

    .sender-info > div, .message-wrapper {
        margin-bottom: 20px;
    }
}

.footer {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-flex;

        li {
            margin: 0 10px;
        }
    }

    a:not(:hover) {
        text-decoration: none;
    }
}

.page--404 main {
    padding: 0;
}

.grid--404, .grid--tall {
    min-height: 100vh;
    align-items: center;
}

.bookmarklet-container {
    position: relative;
    width: 200px;
    height: 50px;
    margin-bottom: 50px;
    
    .bookmarklet {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }

    .bookmarklet-text {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
    }
}

.page--sqs-id-finder main {
    padding-bottom: 0;
}

.logo--mobile {
    display: none;
}

@media (max-width: 405px) {
    .logo {
        max-width: 32px;
    }
    .logo--desktop {
        display: none;
    }
    .logo--mobile {
        display: block;
    }
}

.page--thank-you {
    .grid--thank-you {

        @media (min-width: 641px) {
            .grid__item:first-child {
                text-align: right;
            }
        }

        @media (max-width: 640px) {
            .grid__item {
                text-align: center;
            }
        }
    }
}

// Pillar Posts
.pillar-post {
    .table-of-contents {
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .toc-list {
        justify-content: flex-start;

        p {
            margin: 0;
        }


        .card {
            margin-bottom: 20px;
        }
        .grid__item {
            @media (min-width: $medium) {
                &.medium--6 {

                    &:nth-child(odd) {
                        padding-right: 8px;
                    }

                    &:nth-child(even) {
                        padding-left: 8px;
                    }
                }
            }
            
            @media (min-width: $large) {

                &.large--3 {

                    padding-left: 8px;
                    padding-right: 8px;
    
                    &:nth-child(4n+1) {
                        padding-left: 20px;
                    }
    
                    &:nth-child(4n+4) {
                        padding-right: 20px;
                    }
                }
            }
        }

        

        .toc-list__item {
            .toc-item-number {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                position: relative;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            &:not(:first-child):not(:last-child) {
                .toc-item-number {
                    &:before {
                        content: attr(data-link-number);
                        font-size: 30px;
                        font-family: $headlineFontFamily;                    }
                }
            }

            &:first-child {
                .toc-item-number {
                    background-image: url(./images/waving.svg);
                    background-position: center;
                    background-size: 75%;
                    background-repeat: no-repeat;
                }
            }

            &:last-child {
                .toc-item-number {
                    background-image: url(./images/fireworks.svg);
                    background-position: center;
                    background-size: 120%;
                    background-repeat: no-repeat;
                }
            }

            .card__link {
                padding-top: 2vw;
                padding-bottom: 2vw;
            }

            .card__info {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }

            .card__description {
                font-size: 14px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }
            .card__title {
                font-size: 16px;
                line-height: 1;
            }

            .toc__info {
                width: calc(100% - 70px);
            }
        }
    }
}

.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .newsletter__form {
        width: calc(100% * (7 / 12));
        @media (max-width: 850px) {
            width: 100%;
        }
        

        // Mailerlite Overrides
        #mlb2-4538002.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
            background: transparent;
            max-width: unset;
        }

        form {
            border-radius: 27px;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            transition: border 0.4s ease;

            .ml-form-formContent {
                width: 100%;
            }
        }
        .button {
            width: 100%;
        }

        .ml-form-embedSubmit {
            &:before, &:after {
                content: "";
            }
        }

        .form-control {
            border: none;

            &:focus-visible {
                outline: none;
            }
        }

        h2 {
            margin-bottom: 1rem;
        }

    }

    svg {
        width: calc(100% * (4 / 12));
        transform-box:fill-box;
        @media (max-width: 850px) {
            display: none;
        }
        * {
            transform-box:fill-box;
        }
    }
}


.newsletter-icon {
    transform-box:fill-box;
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    transform-origin: center;
    border: 1px solid black;
}
$icons: 10;

@for $i from 1 through $icons {
    .newsletter-icon:nth-of-type(#{$i}) {
        animation-delay: calc(-0.5s * #{$i});
    }
}
@keyframes floating {
    0% {
        transform: rotate(-5deg) translateY(0);
    }
    50% {
        transform: rotate(5deg) translateY(2px);
    }
    100% {
        transform: rotate(-5deg) translateY(0);
    }
}
