// All the Sass code handling the layout, which is the container and grid systems
.layout {
  max-width: 100%;
}

.page-width {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.page-width--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 2rem 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

main {
  padding-bottom: 2rem;
  flex: 1;
}


  .content__header {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width:521px) {
      padding-left: 60px;
      padding-right: 60px;

    }
  }

  .content__main {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto; 
  }
